@import "./css/normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-effect: #0983e6;
  --bg-Disabled: #486176a1;
  --color-Disabled: #ffffffa1;
  --text-color-white-a: rgba(255, 255, 255, 0.6);
  --text-color-white: #ffffff;
  --text-color-blac: #000000;
  --bg-color-white: #ffffff;
  --bg-color-light: #f5f4fa;
  --bg-color-hero: #c4c4c4;
  --bg-color-footer: #2f303a;
  --block-border-line: #ececec;
  --card-border-color: #eeeeee;
  --color4: #afb1b8;
  --color3: #757575;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color-white);
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body.modal-open {
  overflow: hidden;
}

.PhoneInput {
  overflow: hidden;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.PhoneInput:hover,
.PhoneInput--focus {
  border: 1px solid var(--accent-color);
}

.PhoneInputInput{
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
}
